{# templates/reservation/list.html.twig #}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Reservations</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        .search-bar {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<h1>Reservations List</h1>

<div class="search-bar">
    <form method="get" action="{{ path('reservation_list') }}">
        <input type="text" name="search" placeholder="Search reservations..."
               value="{{ app.request.query.get('search') }}">
        <button type="submit">Search</button>
    </form>
</div>

<table>
    <thead>
    <tr>
        {% if reservations|length > 0 %}
            {% for key in reservations|first|keys %}
                <th>{{ key|capitalize  }}</th>
            {% endfor %}
        {% else %}
            <th>No reservations found.</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for reservation in reservations %}
        <tr>
            <td>{{ reservation.locator }}</td>
            <td>{{ reservation.guest }}</td>
            <td>{{ reservation.checkin|date('d/m/Y') }}</td>
            <td>{{ reservation.checkout|date('d/m/Y') }}</td>
            <td>{{ reservation.hotel }}</td>
            <td>{{ reservation.price }}</td>
            <td>{{ reservation.actions }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="7">No reservations found.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<p><a href="{{ path('reservation_download_json', {'search': app.request.query.get('search')}) }}">Download as JSON</a>
</p>
</body>
</html>